# deploy files
config.yml
.build

# package directories
node_modules
npm-debug.log

# Serverless directories
.serverless

# .VSCode
.nycrc

# tests and lint
.sonarlint
.nyc_output
.scannerwork
coverage
xunit.xml

#secrets
src/connectors/secrets.json
